@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

html {
    background-color: lightgray;

}

.newspaper-container {
    padding-top: 0em;
    text-align: left;
    background-color: white;
}

body {
    background-color: white;
    border-style: solid;
    width: 700px;
    border-radius: 10px;
    border-color: #eee;
    box-shadow: 5px 5px #ddd;
    padding: 1em;
    border-spacing: 1;
    margin: auto;
    font-family: 'Source Sans Pro';

}

.date {
    text-align: left;
}

h1 {
    font-family: Abril Fatface;
    text-align: center;
}

Nav {
    border: solid #eee;
    border-left: 0px;
    border-right: 0px;

}

li {
    list-style: none;
    color: #eee;
}
h5{
    color: red;
}
h2{
    font-family: 'Roboto Slab';
}