@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

html {
    background-color: lightgray;

}
.newspaper-container{
    padding-top: 0em;
    text-align: left;
}
body {
    background-color: #eee;
    border-style: solid;
    width: 700px;
    border-radius: 10px;
    border-color: #eee;
    box-shadow: 5px 5px #ddd;
    padding: 1em;
    border-spacing: 1;
}

.date{
    text-align: left;
}
h1 {
    font-family: Abril Fatface;
    text-align: center;
}

Nav {
    display: inline-block;
    margin: auto;
    border-top: 10px black;
    border-bottom: 10px;

}

li {
    display: inline-block;
}